# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Trained models
models/model.pkl
models/scaler.pkl

# Dataset
dataset/creditcard.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db